

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}}">
    <div class="date">{{date format="dddd DD MMMM YYYY HH:mm"}}</div>
    {{#if tags}}
    <div class="tags">
        <ul>
            {{#foreach tags}}
            <li><a href="{{url}}" title="{{name}}">{{name}}</a></li>  
            {{/foreach}}
        </ul>
    </div>
    {{/if}}
    
    <h1><span class="text-title-container"><a href="/pilcrow" class="pilcrow">¶</a><a href="{{url}}" class="text-title">{{title}}</a></span></h1>
    {{content}}
</article>
<hr>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
<footer>
    <div class="pagination">{{pagination}}</div>
</footer>