<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ghost_head}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon-precomposed" href="{{asset 'apple-touch-icon.png'}}">
    <link rel="stylesheet" type="text/css" href="{{asset 'main.css'}}" />
</head>
<body>
    <header>
        <div class="blog-title">
            <a href="/" title={{@blog.title}}>
                <img src="{{asset 'title.png'}}" alt="{{@blog.title}}" class="headerimg">
            </a><br />
            <div class="description">{{@blog.description}}</div>
        </div>

        {{!-- The blog navigation links --}}
        {{navigation}}
    </header>

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    <footer>
        <!-- Search -->
        <form method="get" id="search" action="https://duckduckgo.com/">
            <input type="hidden" name="sites" value="yige.ch"/>
            <input type="hidden" name="kn" value="1"/>
            <input type="hidden" name="ka" value="Gill Sans"/>
            <input type="hidden" name="k7" value="rgb(248, 247, 245)"/>
            <input type="hidden" name="kj" value="rgb(248, 247, 245)"/>
            <input type="hidden" name="kx" value="color: rgb(66, 65, 63)"/>
            <input type="hidden" name="kt" value="Gill Sans"/>
            <input type="text" name="q" maxlength="255" placeholder="Search"/>
            <input type="submit" value="DuckDuckGo Search" style="display: none;" />
        </form>

        <div class="copyright">Copyright © {{date format="YYYY"}} Yi Ge.</div>
    </footer>

    {{ghost_foot}}
</body>
</html>
